
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="雪狐商城" />
<meta name="Description" content="雪狐商城"/>
<title>用户中心_找回密码</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/purebox.css" />
    <link rel="stylesheet" type="text/css" href="__CSS__/quickLinks.css" />
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
<script src="__PLUGIN__/layer.js"></script>
<script type="text/javascript" src="__JS__/get_password.js"></script>
</head>

<body class="bg-ligtGary">

<!----找回密码------>
<div class="get_pwd">

    <div class="loginRegister-header">
        <div class="w w1200">
            <!----网站LOGO------->
            <div class="logo">
                <div class="logoImg">
                    <a href="{:url('index/Index/index')}" class="logo">
                      <img src="__IMG__/logo.png" />
                    </a>
                </div>
            </div>
            <!----END----->

            <!------网站右侧注册--------->
            <div class="header-href">
                <span>已注册可<a href="{:url('account/login')}" class="jump">在此登录</a></span>
            </div>
            <!-----END------->
        </div>
    </div>

    <div class="container">
        <div class="w w1200">
            <div class="get_pwd_warp">
                <div class="get_pwd_form">
                    <div class="form form-other" ectype="formWarp">
                        <!-----找回密码切换-------->
                        <div class="item item-other">
                            <div class="item-label">&nbsp;</div>
                            <div class="gp-tab" ectype="gpTab">
                                <ul>
                                    <li><i class="iconfont icon-mobile-phone"></i><span>手机找回</span></li>
                                    <li class="curr"><i class="iconfont icon-email"></i><span>邮箱找回</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-----END------->

                        <!------找回密码表单------->
                        <div class="gp-content" ectype="gpContent">
                            <div class="gp-warp formPhone" style="display:block;">
                                <form action="#" method="post" name="getPhonePassword" ectype="form">
                                    <div class="item">
                                        <div class="item-label">手 机 号 码</div>
                                        <div class="item-info"><input type="text" name="mobile_phone" id="mobile_phone" class="text" autocomplete="off" placeholder="绑定手机" /></div>
                                        <div class="input-tip" id="phone_notice"></div>
                                    </div>
                                    <div class="item">
                                        <div class="item-label">手机验证码</div>
                                        <div class="item-info phone_code">
                                            <input name="sms_value" id="sms_value" type="hidden" value="sms_find_signin" autocomplete="off" />
                                            <input type="text" id="sms" name="mobile_code" class="text text-2"  maxlength="6" value="" autocomplete="off" placeholder="手机动态码"/>
                                            <a href="javascript:sendSms();" id="zphone" class="sms-btn">获取验证码</a>
                                        </div>
                                        <div class="input-tip"></div>
                                    </div>
                                    <div class="item item2 item-button">
                                        <input type="submit" name="submit" id="get-phone-submit1" value="提&nbsp;交" class="btn sc-redBg-btn" ectype="submitBtn">
                                    </div>
                                </form>
                            </div>
                            <div class="gp-warp formEmail">
                                <form action="#" method="post" name="getEmailPassword" ectype="form" onsubmit="return false;">
                                    <div class="item">
                                        <div class="item-label">用　户　名</div>
                                        <div class="item-info"><input type="text" name="username" id="username" class="text" placeholder="用户名" autocomplete="off" /></div>
                                        <div class="input-tip"></div>
                                    </div>
                                    <div class="item">
                                        <div class="item-label">邮 箱 账 号</div>
                                        <div class="item-info"><input type="text" name="email" id="email" class="text" placeholder="电子邮箱" autocomplete="off" /></div>
                                        <div class="input-tip"></div>
                                    </div>

                                    <div class="item item2 item-button">
                                        <input type="submit" name="submit" id="get-phone-submit" value="提&nbsp;交" class="btn sc-redBg-btn" ectype="submitBtn">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!------END------>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----END----->


<!----找回密码底部-------->
<div class="footer user-footer">
    <div class="dsc-copyright">
        <div class="w w1200">
            <p class="footer-ecscinfo pb10">

                <a href="#" >首页</a>
                |
                <a href="#" >隐私保护</a>
                |

                <a href="#" >联系我们</a>
                |

                <a href="#" >免责条款</a>
                |
                <a href="#" >公司简介</a>
                |
                <a href="#" >意见反馈</a>
            </p>
            <p class="footer-otherlink">
                <a href="#" target="_blank" title="雪狐网">雪狐网</a>
                |
                <a href="#" target="_blank" title="雪狐商城">雪狐商城</a>
                |
                <a href="#" target="_blank" title="雪狐论坛">雪狐论坛</a>

            </p>
        </div>
    </div>
</div>
<!----END------->

</body>
</html>
<script type="text/javascript">
    var check_password_url = "{:url('account/check_get_info')}";
</script>

