<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="Keywords" content="雪狐商城"/>
    <meta name="Description" content="雪狐商城"/>
    <title>{$config.name}</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/purebox.css"/>
    <link rel="stylesheet" type="text/css" href="__CSS__/quickLinks.css"/>
    <script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</head>
<body class="home_visual_body">


<!-----商品首页头部------->
{include file="public/index_header" /}
<!----END------->


<!-----商城首页轮播图------->
<div class="homeindex" ectype="homeWrap">

    <div class="content" style="min-height: 974px;">

        <!-------轮播图和登录模块------->
        <div class="visual-item" data-mode="lunbo" data-purebox="banner" data-li="1" data-length="5" ectype="visualItme" style="display: block;" data-diff="0">

            <div class="view">

                <div class="banner home-banner">

                    <!-----轮播图=-------->
                    <div class="bd">
                        <ul data-type="range">
                            <li style="background:url(__IMG__/1494984992503176615.jpg) center center no-repeat;">
                                <div class="banner-width"><a href="" style="height:500px;"></a></div>
                            </li>
                            <li style="background:url(__IMG__/1494984990506843460.jpg) center center no-repeat;">
                                <div class="banner-width"><a href="" style="height:500px;"></a></div>
                            </li>
                            <li style="background:url(__IMG__/1494984991783527346.jpg) center center no-repeat;">
                                <div class="banner-width"><a href="" style="height:500px;"></a></div>
                            </li>
                        </ul>
                        <div class="spec" data-spec=""></div>
                    </div>
                    <div class="hd">
                        <ul></ul>
                    </div>
                    <!------END---------->

                    <!-----轮播图右侧登录-------->
                    <div class="vip-outcon">
                        <div class="vip-con">
                            <div class="insertVipEdit" data-mode="insertVipEdit">
                                <div ectype="user_info">
                                    <!-----商城登录图片----->
                                    <div class="avatar">
                                        <a href="#"><img src="__IMG__/avatar.png"></a>
                                    </div>
                                    <!----END------>

                                    <!-----商城登录----->
                                    <div class="login-info">
                                        <span>Hi，欢迎来到雪狐网!</span>
                                        <a href="#" class="login-button">请登录</a>
                                        <a href="#" target="_blank" class="register_button">我要注册</a>
                                    </div>
                                    <!----END----->

                                    <!-----商城公告----->
                                    <div class="vip-item">
                                        <div class="tit">
                                            <a href="javascript:void(0);" class="tab_head_item on">公告</a>
                                            <a href="javascript:void(0);" class="tab_head_item">促销</a>
                                        </div>
                                        <div class="con">
                                            <ul>
                                                {volist name="notice" id="notice"}
                                                <li><a href="{:url('index/ArticleContent/index',['id'=>$notice['id'],'pid'=>$notice['cate_id']])}" target="_blank">{$notice.title}</a></li>
                                                {/volist}
                                            </ul>
                                            <ul style="display: none;">
                                                {volist name="promotion" id="promotion"}
                                                <li><a href="{:url('index/ArticleContent/index',['id'=>$promotion['id'],'pid'=>$promotion['cate_id']])}" target="_blank">{$promotion.title}</a></li>
                                                {/volist}
                                            </ul>
                                        </div>
                                    </div>
                                    <!----END------>

                                    <!-----商城快捷入口----->
                                    <div class="vip-item">
                                        <div class="tit">快捷入口</div>
                                        <div class="kj_con">
                                            <div class="item item_1">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-browse"></i>
                                                    <span>我的浏览</span>
                                                </a>
                                            </div>
                                            <div class="item item_2">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-zan-alt"></i>
                                                    <span>我的收藏</span>
                                                </a>
                                            </div>
                                            <div class="item item_3">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-order"></i>
                                                    <span>我的订单</span>
                                                </a>
                                            </div>
                                            <div class="item item_4">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-password-alt"></i>
                                                    <span>账号安全</span>
                                                </a>
                                            </div>
                                            <div class="item item_5">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-share-alt"></i>
                                                    <span>我要分享</span>
                                                </a>
                                            </div>
                                            <div class="item item_6">
                                                <a href="#" target="_blank">
                                                    <i class="iconfont icon-settled"></i>
                                                    <span>商家入驻</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-----END------->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-----END------->
                </div>

            </div>

        </div>
        <!-------END---------->

        <!------首页秒杀------->
        <div class="visual-item w1200" ectype="channel">
            <div class="seckill-channel" id="h-seckill">
                <div class="box-hd clearfix">

                    <i class="box_hd_arrow"></i>
                    <i class="box_hd_dec"></i>
                    <i class="box-hd-icon"></i>

                    <div class="sk-time-cd">
                        <div class="sk-cd-tit">距结束</div>
                        <div class="cd-time fl" ectype="time" data-time="2018-01-22 22:00:00">
                            <div class="days hide">00</div>
                            <span class="split hide">天</span>
                            <div class="hours">05</div>
                            <span class="split">时</span>
                            <div class="minutes">57</div>
                            <span class="split">分</span>
                            <div class="seconds">46</div>
                            <span class="split">秒</span>
                        </div>
                    </div>

                    <div class="sk-more">
                        <a href="#" target="_blank">更多秒杀</a>
                        <i class="arrow"></i>
                    </div>

                </div>
            </div>
        </div>
        <!-------END---------->

        <!------首页新品------->
        <div class="visual-item w1200" data-mode="h-need" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="need-channel clearfix" id="h-need_0" data-type="range" data-lift="推荐">
                    <div class="channel-column" style="background:url(__IMG__/1494984987302153402.jpg) no-repeat;">
                        <div class="column-title">
                            <h3 style="color: #ffffff">优质新品</h3>
                            <p style="color: #ffffff">专注生活美学</p>
                        </div>
                        <div class="column-img"><img src="__IMG__/1494985002375136884.png"></div>
                        <a href="" target="_blank" class="column-btn">去看看</a>
                    </div>
                    <div class="channel-column" style="background:url(__IMG__/1494984987302153402.jpg) no-repeat;">
                        <div class="column-title">
                            <h3 style="color: #ffffff">优质新品</h3>
                            <p style="color: #ffffff">专注生活美学</p>
                        </div>
                        <div class="column-img"><img src="__IMG__/1494985002375136884.png"></div>
                        <a href="" target="_blank" class="column-btn">去看看</a>
                    </div>
                    <div class="channel-column" style="background:url(__IMG__/1494984987302153402.jpg) no-repeat;">
                        <div class="column-title">
                            <h3 style="color: #ffffff">优质新品</h3>
                            <p style="color: #ffffff">专注生活美学</p>
                        </div>
                        <div class="column-img"><img src="__IMG__/1494985002375136884.png"></div>
                        <a href="" target="_blank" class="column-btn">去看看</a>
                    </div>
                    <div class="channel-column" style="background:url(__IMG__/1494984987302153402.jpg) no-repeat;">
                        <div class="column-title">
                            <h3 style="color: #ffffff">优质新品</h3>
                            <p style="color: #ffffff">专注生活美学</p>
                        </div>
                        <div class="column-img"><img src="__IMG__/1494985002375136884.png"></div>
                        <a href="" target="_blank" class="column-btn">去看看</a>
                    </div>
                    <div class="channel-column" style="background:url(__IMG__/1494984987302153402.jpg) no-repeat;">
                        <div class="column-title">
                            <h3 style="color: #ffffff">优质新品</h3>
                            <p style="color: #ffffff">专注生活美学</p>
                        </div>
                        <div class="column-img"><img src="__IMG__/1494985002375136884.png"></div>
                        <a href="" target="_blank" class="column-btn">去看看</a>
                    </div>
                </div>
            </div>
        </div>
        <!----END----->

        <!------首页品牌------->
        <div class="visual-item w1200 brandList" data-mode="h-brand" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="brand-channel clearfix" id="h-brand_0" data-type="range" data-lift="品牌">
                    <!----左侧广告-------->
                    <div class="home-brand-adv slide_lr_info">
                        <a href="" target="_blank"><img src="__IMG__/1494984992104112514.jpg" class="slide_lr_img"></a>
                    </div>
                    <!-----END------>

                    <!------品牌-------->
                    <div ectype="homeBrand">
                        <div class="brand-list" id="recommend_brands">
                            <ul>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="brand-img"><a href="#" target="_blank">
                                        <img src="__IMG__/1490039286075654490.jpg"></a>
                                    </div>
                                </li>
                            </ul>
                            <a href="javascript:void(0);" ectype="changeBrand" class="refresh-btn">
                                <i class="iconfont icon-rotate-alt"></i>
                                <span>换一批</span>
                            </a>
                        </div>
                    </div>
                    <!-----END------->
                </div>
            </div>
        </div>
        <!-----END------->

        <!--------男女装模块----------->
        <?php foreach( $recPos as $k => $v ): ?>
        <div class="visual-item w1200" data-mode="homeFloor" data-purebox="homeFloor" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="floor-content" data-type="range" id="homeFloor_0" data-lift="女装">
                    <div class="floor-line-con floorOne floor-color-type-<?php echo $k+1; ?>" data-title="<?php echo $v['cate_name']; ?>" data-idx="1" id="floor_1" ectype="floorItem">

                        <!-------男女装导航---------->
                        <div class="floor-hd" ectype="floorTit">
                            <i class="box_hd_arrow"></i>
                            <i class="box_hd_dec"></i>
                            <div class="hd-tit"><?php echo $v['cate_name']; ?></div>
                            <div class="hd-tags">
                                <ul>
                                    <li class="first current">
                                        <span>新品推荐</span>
                                        <i class="arrowImg"></i>
                                    </li>

                                    <?php foreach($v['subclass'] as $k1 => $v1): ?>
                                    <li data-catgoods="" class="first" ectype="floor_cat_content" data-flooreveval="0" data-visualhome="1" data-floornum="6" data-id="347">
                                        <span><?php echo $v1['cate_name'] ?></span>
                                        <i class="arrowImg"></i>
                                    </li>
                                    <?php endforeach; ?>

                                </ul>
                            </div>
                        </div>
                        <!------END------------>

                        <!-------男女装列表---------->
                        <div class="floor-bd bd-mode-01">
                            <div class="bd-left">
                                <div class="floor-left-slide">
                                    <div class="bd">
                                        <ul>
                                            <?php if($v['categoryAd']): foreach( $v['categoryAd']['A'] as $k1 => $v1 ): ?>
                                            <li><a href="<?php echo $v1['category_link'] ?>"><img src="<?php echo APP_PATH; ?>/public/static/uploads/ad/<?php echo $v1['category_img']; ?>"></a></li>
                                            <?php endforeach; endif; ?>
                                        </ul>
                                    </div>
                                    <div class="hd">
                                        <ul></ul>
                                    </div>
                                </div>

                                <div class="floor-left-adv">
                                    <?php if( isset($v['categoryAd']['B']) ): ?>
                                    <a href="<?php echo $v['categoryAd']['B'][0]['category_link'];?>" target="_blank"><img src="<?php echo APP_PATH; ?>/public/static/uploads/ad/<?php echo $v['categoryAd']['B'][0]['category_img']; ?>"></a>
                                    <?php endif; ?>
                                    <?php if( isset($v['categoryAd']['C']) ): ?>
                                    <a href="<?php echo $v['categoryAd']['C'][0]['category_link']; ?>" target="_blank"><img src="<?php echo APP_PATH; ?>/public/static/uploads/ad/<?php echo $v['categoryAd']['C'][0]['category_img']; ?>"></a>
                                    <?php endif; ?>
                                </div>

                            </div>
                            <div class="bd-right">
                                <div class="floor-tabs-content clearfix">
                                    <div class="f-r-main f-r-m-adv" style="display: block;">
                                            <ul class="p-list">
                                                <?php foreach( $v['newRecGoods'] as $k1 => $v1 ): ?>
                                                <li class="opacity_img">
                                                    <div class="product">
                                                        <div class="p-img"><a href="{:url('index/category/index',['id'=>$v1['id']])}" target="_blank"><img src="<?php echo APP_PATH.'/public/static/uploads/goods/'.$v1['og_thumb'] ?>" width="140" height="140"></a></div>
                                                        <div class="p-name"><a href="{:url('index/category/index',['id'=>$v1['id']])}" title="<?php echo $v1['goods_name'] ?>"><?php echo $v1['goods_name'] ?></a></div>
                                                        <div class="p-price"><span class="shop-price">¥<?php echo $v1['market_price'] ?> </span>
                                                            <span class="original-price"><?php echo $v1['shop_price'] ?></span>
                                                        </div>
                                                    </div>
                                                </li>
                                                <?php endforeach; ?>
                                            </ul>
                                    </div>
                                    <?php foreach( $v['subclass'] as $k1 => $v1 ): ?>
                                    <div class="f-r-main" id="floor_cat_<?php echo $v1['id'] ?>" style="display: none;">
                                        <ul class="p-list">
                                            <?php foreach( $v1['baseGoods'] as $k2 => $v2 ): ?>
                                            <li class="opacity_img">
                                                <div class="product">
                                                    <div class="p-img"><a href="{:url('index/category/index',['id'=>$v2['id']])}" target="_blank"><img src="<?php echo APP_PATH.'/public/static/uploads/goods/'.$v2['og_thumb'] ?>" width="140" height="140"></a></div>
                                                    <div class="p-name"><a href="{:url('index/category/index',['id'=>$v2['id']])}" title=""><?php echo $v2['goods_name'] ?></a></div>
                                                    <div class="p-price">
                                                        <span class="shop-price">¥<?php echo $v2['shop_price']; ?></span>
                                                        <span class="original-price"><?php echo $v2['market_price']; ?></span>
                                                    </div>
                                                </div>
                                            </li>
                                            <?php endforeach; ?>
                                        </ul>
                                    </div>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        </div>

                        <!------END------------>

                        <!-------男女装品牌列表---------->
                        <div class="floor-fd">
                            <div class="floor-fd-brand clearfix">
                                <?php foreach( $v['brands']['brands'] as $k1 => $v1 ): ?>
                                <div class="item">
                                    <a href="<?php echo $v1['brand_url'] ?>" target="_blank">
                                        <div class="link-l"></div>
                                        <div class="img"><img src="<?php echo APP_PATH.'/public/static/uploads/brand/'.$v1['brand_logo'] ?>" title="ELLE HOME">
                                        </div>
                                        <div class="link"></div>
                                    </a>
                                </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                        <!------END----------->

                    </div>
                </div>
            </div>
        </div>
        <?php endforeach; ?>
        <!-------END------------>

        <!------商城达人---------->
        <div class="visual-item w1200" data-mode="h-master" data-purebox="homeAdv" data-li="1" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="master-channel" id="h-master_0" data-type="range" data-lift="达人">
                    <div class="ftit"><h3>达人</h3></div>
                    <div class="master-con">
                        <div class="m-c-item m-c-i-1" style="background:url(__IMG__/1494985006295599886.jpg) center center no-repeat;">
                            <div class="m-c-main">
                                <div class="title">
                                    <h3>纯棉质品</h3>
                                    <span>把好货带回家</span>
                                </div>
                                <a href="" class="m-c-btn" target="_blank">去见识</a>
                            </div>
                            <div class="img">
                                <a href="" target="_blank">
                                    <img src="__IMG__/1494985002918483191.png">
                                </a>
                            </div>
                        </div>
                        <div class="m-c-item m-c-i-2" style="background:url(__IMG__/1494985006295599886.jpg) center center no-repeat;">
                            <div class="m-c-main">
                                <div class="title">
                                    <h3>纯棉质品</h3>
                                    <span>把好货带回家</span>
                                </div>
                                <a href="" class="m-c-btn" target="_blank">去见识</a>
                            </div>
                            <div class="img">
                                <a href="" target="_blank">
                                    <img src="__IMG__/1494985002918483191.png">
                                </a>
                            </div>
                        </div>
                        <div class="m-c-item m-c-i-3" style="background:url(__IMG__/1494985006295599886.jpg) center center no-repeat;">
                            <div class="m-c-main">
                                <div class="title">
                                    <h3>纯棉质品</h3>
                                    <span>把好货带回家</span>
                                </div>
                                <a href="" class="m-c-btn" target="_blank">去见识</a>
                            </div>
                            <div class="img">
                                <a href="" target="_blank">
                                    <img src="__IMG__/1494985002918483191.png">
                                </a>
                            </div>
                        </div>
                        <div class="m-c-item m-c-i-4" style="background:url(__IMG__/1494985006295599886.jpg) center center no-repeat;">
                            <div class="m-c-main">
                                <div class="title">
                                    <h3>纯棉质品</h3>
                                    <span>把好货带回家</span>
                                </div>
                                <a href="" class="m-c-btn" target="_blank">去见识</a>
                            </div>
                            <div class="img">
                                <a href="" target="_blank">
                                    <img src="__IMG__/1494985002918483191.png">
                                </a>
                            </div>
                        </div>
                        <div class="m-c-item m-c-i-5" style="background:url(__IMG__/1494985006295599886.jpg) center center no-repeat;">
                            <div class="m-c-main">
                                <div class="title">
                                    <h3>纯棉质品</h3>
                                    <span>把好货带回家</span>
                                </div>
                                <a href="" class="m-c-btn" target="_blank">去见识</a>
                            </div>
                            <div class="img">
                                <a href="" target="_blank">
                                    <img src="__IMG__/1494985002918483191.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-------END--------->

        <!--------还没逛够---------->
        <div class="visual-item w1200" data-mode="guessYouLike" data-purebox="goods" ectype="visualItme" data-diff="0" style="display: block;">
            <div class="view">
                <div class="lift-channel clearfix" id="guessYouLike" data-type="range" data-lift="商品">
                    <div data-goodstitle="title">
                        <div class="ftit"><h3>还没逛够</h3></div>
                    </div>

                    <ul>
                        {volist name="indexhosGoods" id="hosGoods"}
                        <li class="opacity_img">
                            <a href="{:url('Goodslist/index',['id'=>$hosGoods['id']])}" target="_blank">
                                <div class="p-img"><img src="<?php echo APP_PATH; ?>/public/static/uploads/goods/{$hosGoods.og_thumb}"></div>
                                <div class="p-name" title="{$hosGoods.goods_name}">
                                    {$hosGoods.goods_name}
                                </div>
                                <div class="p-price">
                                    <div class="shop-price">
                                        <em>¥</em>{$hosGoods.shop_price}
                                    </div>
                                    <div class="original-price"></div>
                                </div>
                            </a>
                        </li>
                        {/volist}
                    </ul>

                    <div class="spec" data-spec=""></div>

                </div>
            </div>
        </div>
        <!------END-------->

    </div>

</div>
<!-------END--------->


<!------底部导航引用--------->
{include file="public/footer" /}
<!-----END--------->

</body>
</html>