<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="文章分类列表" />
<meta name="Description" content="文章分类列表" />
<title>雪狐商城</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/purebox.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/quicklinks.css" />
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="__JS__/article.js"></script>
</head>
<body class="bg-ligtGary">

<!---商城顶部导航--->
{include file="public/header" /}
<!----END---->

<!---文章帮助中心------>
<div class="content article-content">

    <div class="article-search-hd mb20">
        <div class="w w1200">
            <div class="hd-tit">文档帮助中心</div>
        </div>
    </div>

    <div class="w w1200 clearfix">

        <!-----文章右侧菜单-------->
        <div class="article-side">
            <dl class="article-menu">
                <dt class="am-t"><a href="javascript:void(0);">文章分类列表</a></dt>
                <dd class="am-c">
                    <div class="menu-item active">
                        <div class="item-hd"><a href="javascript:void(0);">系统分类</a><i class="iconfont icon-down"></i></div>
                        <ul class="item-bd">
                            {volist name="cate_help" id="cate_help"}
                            <li><a href="{:url('article/index',['id'=>$cate_help['id']])}">{$cate_help.cate_name}</a></li>
                            {/volist}

                        </ul>
                    </div>
                </dd>

                <dd class="am-c">
                    {volist name="cate_general" id="cate_general"}
                    <div class="menu-item active">
                        <div class="item-hd"><a href="{:url('article/index',['id'=>$cate_general['id']])}">{$cate_general.cate_name}</a>{if $cate_general['subclass']}<i class="iconfont icon-up"></i>{/if}</div>
                        {if $cate_general['subclass']}
                        <ul class="item-bd" style="display:none;">
                            {volist name="cate_general.subclass" id="subclass"}
                            <li><a href="{:url('article/index',['id'=>$subclass['id']])}">{$subclass.cate_name}</a></li>
                            {/volist}
                        </ul>
                        {/if}
                    </div>
                    {/volist}
                </dd>
            </dl>
        </div>
        <!-----END-------->

        <!------文章左侧列表--------->
        <div class="article-main">
            <div class="am-hd">
                <h2>新手上路 </h2>
            </div>
            <div class="am-bd">
                <ul class="artilce-list">
                    <li>
                        <h3><a href="#" title="隐私声明">隐私声明</a></h3>
                        <p></p>
                    </li>
                </ul>
            </div>
        </div>
        <!----END----->
    </div>



</div>
<!-----END------>

<!------底部导航--------->
{include file="public/footer" /}
<!-----END--------->

</body>
</html>
