<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="文章内容" />
<meta name="Description" content="文章内容" />
<title>雪狐商城</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/style.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/purebox.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/quicklinks.css" />
<script type="text/javascript" src="__JS__/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="__JS__/article.js"></script>
<body class="bg-ligtGary">

<!---商城顶部导航--->
{include file="public/header" /}
<!----END---->


<!---文章帮助中心------>
<div class="content article-content">

    <div class="article-search-hd mb20">
        <div class="w w1200">
            <div class="hd-tit">文档帮助中心</div>
        </div>
    </div>

    <div class="w w1200 clearfix">

        <!-----文章右侧菜单-------->
        {include file="public/article_cate" /}
        <!-----END-------->

        <!-----文章内容-------->
        <div class="article-main">
            <!-------文章面包屑导航------->
            <div class="am-hd">
                <h2>隐私声明</h2>
                <div class="extra">
                    {volist name="cate_name" id="catename"}

                    {if count($cate_name) < count($catename) }
                     <a href="{:url('index/Article/index',['id'=>$catename['id']])}">{$catename.cate_name}</a>
                     <i>&gt;</i>
                    {else /}
                    <i></i>
                    <span>{$catename.cate_name}</span>
                    {/if}
                    {/volist}

                </div>
            </div>
            <!------END-------->

            <div class="am-bd">
                <!-------文章详情-------->
                <div class="article-words">
                   <p>&nbsp;<strong style="font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif; line-height: 24px; margin: 0px; padding: 0px; font-size: 14px; color: rgb(33, 33, 33);">{$article_content.title}</strong></p>
                    <div class="content_list border_none list_top_txt" style="margin: 0px; padding: 25px 0px 15px; width: 733px; border: none; line-height: 24px; float: left; color: rgb(102, 102, 102); font-family: 微软雅黑, 宋体, Arial, Helvetica, sans-serif;">
                        {$article_content.content|raw}
                    </div>
                </div>
                <!--------END------>

                <!-------文章上一篇和下一篇-------->
                <div class="more_article">
                        <span class="art_prev">
                            上一篇：{if $prev }<a href="{:url('index/ArticleContent/index',['id'=>$prev['id'],'pid'=>input('pid')])}" >{$prev.title}</a> {else /}没有啦{/if}
                         </span>
                    <span class="art_next">
                       下一篇：{if $next }<a href="{:url('index/ArticleContent/index',['id'=>$next['id'],'pid'=>input('pid')])}" >{$next.title}</a>{else /}没有啦{/if}
                    </span>
                </div>
                <!-----END-------->
            </div>
        </div>
        <!----END----->
    </div>
</div>
<!----END------>

<!------底部导航--------->
{include file="public/footer" /}
<!-----END--------->
</body>
</html>
