
<!------底部导航--------->
<div class="footer-new">
    <div class="footer-new-top">
        <div class="w w1200">
            <div class="service-list">
                <div class="service-item">
                    <i class="f-icon f-icon-qi"></i>
                    <span>七天包退</span>
                </div>
                <div class="service-item">
                    <i class="f-icon f-icon-zheng"></i>
                    <span>正品保障</span>
                </div>
                <div class="service-item">
                    <i class="f-icon f-icon-hao"></i>
                    <span>好评如潮</span>
                </div>
                <div class="service-item">
                    <i class="f-icon f-icon-shan"></i>
                    <span>闪电发货</span>
                </div>
                <div class="service-item">
                    <i class="f-icon f-icon-quan"></i>
                    <span>权威荣誉</span>
                </div>
            </div>
            <div class="contact">
                <div class="contact-item contact-item-first">
                    <i class="f-icon f-icon-tel"></i>
                    <span>4000-000-000</span>
                </div>
                <div class="contact-item">
                    <a id="IM" IM_type="dsc" onclick="openWin(this)" href="javascript:;" class="btn-ctn">
                        <i class="f-icon f-icon-kefu"></i>
                        <span>咨询客服</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-new-con">
        <div class="fnc-warp">
            <div class="help-list">
                {volist name="footer_article" id="footer_article"}
                <div class="help-item">
                    <h3>{$footer_article.cate_name} </h3>
                    <ul>
                        {volist name="footer_article.child" id="child"}
                        <li><a href="{:url('index/ArticleContent/index',['id'=>$child['id'],'pid'=>$footer_article['id']])}" title="{$child.title}" target="_blank">{$child.title}</a></li>
                        {/volist}
                    </ul>
                    </dl>
                </div>
                {/volist}

            </div>
            <div class="qr-code">
                <div class="qr-item qr-item-first">
                    <div class="code_img"><img src="images/common/ecjia_qrcode.png"></div>
                    <div class="code_txt">ECJia</div>
                </div>
                <div class="qr-item">
                    <div class="code_img"><img src="images/common/ectouch_qrcode.png"></div>
                    <div class="code_txt">ECTouch</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-----END--------->
<script type="text/javascript" src="__JS__/login_index.js"></script>