<!---商城顶部导航--->
<div class="site-nav" id="site-nav">
    <div class="w w1200">

        <!----顶部登录----->
        <div class="fl">
            <div class="txt-info" id="ECS_MEMBERZONE">
                <a href="#" class="link-login red">请登录</a>
                <a href="#" class="link-regist">免费注册</a>
            </div>
        </div>
        <!---END------>

        <!------顶部右侧菜单------>
        <ul class="quick-menu fr">
            <li>
                <div class="dt"><a href="#">我的订单</a></div>
            </li>
            <li class="spacer"></li>
            <li>
                <div class="dt"><a href="#">我的浏览</a></div>
            </li>
            <li class="spacer"></li>
            <li>
                <div class="dt"><a href="#">我的收藏</a></div>
            </li>
        </ul>
        <!-----END------->
    </div>
</div>
<!----END---->

<!----商城头部header------>
<div class="header">
    <div class="w w1200">

        <!----网站LOGO---->
        <div class="logo">
            <div class="logoImg">
                <a href="index.php">
                    <img src="__IMG__/logo.png"/>
                </a>
            </div>
        </div>
        <!-----END-------->

        <!-----网站搜索------>
        <div class="dsc-search">
            <div class="form">

                <!---网站搜索提交表单----->
                <form id="searchForm" name="searchForm" method="get" action="#" class="search-form">
                    <input autocomplete="off" name="keywords" type="text" id="keyword" value="周大福" class="search-text"/>
                    <button type="submit" class="button button-goods" onclick="checkstore_search_cmt(0)">搜商品</button>
                </form>
                <!----END------>

                <!----关键词搜索----->
                <ul class="keyword">
                    <li><a href="#" target="_blank">周大福</a></li>
                    <li><a href="#" target="_blank">内衣</a></li>
                    <li><a href="#" target="_blank">Five Plus</a></li>
                    <li><a href="#" target="_blank">手机</a></li>
                </ul>
                <!----END----->

            </div>
        </div>
        <!----END------>

        <!----购物车显示数量----->
        <div class="shopCart" data-ectype="dorpdown" id="ECS_CARTINFO" data-carteveval="0">
            <div class="shopCart-con dsc-cm">
                <a href="#">
                    <i class="iconfont icon-carts"></i>
                    <span>我的购物车</span>
                    <em class="count cart_num">0</em>
                </a>
            </div>
        </div>
        <!-----END---->

    </div>
    <!----END----->

</div>
<!---END---->

<!---商品分类------>
<div class="nav dsc-zoom" ectype="dscNav">
    <div class="w w1200">

        <div class="categorys site-mast">

            <div class="categorys-type">
                <a href="#" target="_blank">全部商品分类</a>
            </div>

            <div class="categorys-tab-content">
                <div class="categorys-items" id="cata-nav">

                    <div class="categorys-item" ectype="cateItem" data-id="858" data-eveval="0">

                        <div class="item item-content">
                            <i class="iconfont icon-ele"></i>
                            <div class="categorys-title">
                                <strong>
                                    <a href="#" target="_blank">家用电器</a>
                                </strong>

                                <span>
                                            <a href="#" target="_blank">大家电</a>
                                            <a href="#" target="_blank">生活电器</a>
                                        </span>
                            </div>
                        </div>

                        <div class="clear"></div>

                    </div>

                </div>
            </div>

        </div>

        <!----商城导航菜单------->
        <div class="nav-main" id="nav">
            <ul class="navitems">
                <li><a href="#" class="curr">首页</a></li>
                <li><a href="#">食品特产</a></li>
                <li><a href="#">服装城</a></li>
                <li><a href="#">大家电</a></li>
                <li><a href="#">鞋靴箱包</a></li>
                <li><a href="#">品牌专区</a></li>
                <li><a href="#">聚划算</a></li>
                <li><a href="#">积分商城</a></li>
                <li><a href="#">预售</a></li>
                <li><a href="#">店铺街</a></li>
                <li><a href="#">微分销</a></li>
            </ul>
        </div>
        <!----END------>

    </div>
</div>
<!----END----->